<div class="title">
  <h2><%= @event.name %></h2>
</div>

<div class="description">
  <h4><%= "Host: #{@event.user.first_name.capitalize} #{@event.user.last_name.capitalize}" %></h4>
  <p><%= @event.description %></p>
  <p><%= @event.price %></p>
  <p><%= @event.max_guests %></p>
  <p><%= @event.event_address %></p>
</div>

<div class="button-edit">
  <div class="btn btn-warning">
    <%= link_to 'Edit Event', edit_event_path(@event) %>
  </div>
</div>

<div class="btn-delete">
  <div class="btn btn-warning">
    <%= link_to 'Delete Event', event_path(@event), method: :delete %>
  </div>
</div>


